node_modules
dist
.next
.turbo
.env
.env.local
*.log
coverage
.idea
.vscode
uploads
.DS_Store
*.tsbuildinfo
# Next static export / Capacitor (если включите output: 'export')
apps/web/out
prisma/*.db
prisma/*.db-journal
